@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

::-webkit-scrollbar {
  width: 0.25rem;
}
::-webkit-scrollbar-track {
  background-color: #fafafc;
}
::-webkit-scrollbar-thumb {
  background-color: #fafafc;
  border-radius: 1rem;
}
